<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{ _('Ponte en contacto conmigo. Hablemos sobre cómo puedo ayudarte con tus proyectos y objetivos.') }}">
        <meta name="keywords" content="Contacto, David Zerpa, pymes, Canarias, inteligencia de negocios, análisis de datos, Power BI, automatización, consultoría de datos">
        <meta name="author" content="David Zerpa" />
        <title>{{ _('Contacto') }}</title>
        <!-- Google Fonts personalizados -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap Icons -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- CSS principal del tema -->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/Icon.ico') }}" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Barra de navegación -->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="{{ url_for('home') }}"><span class="fw-bolder text-primary">{{ _('David Zerpa') }}</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir menú de navegación"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mt-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">{{ _('INICIO') }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('work') }}">EXPERIENCIA</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('services') }}">{{ _('SERVICIOS') }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('resume') }}">{{ _('CURRÍCULUM') }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('projects') }}">{{ _('PROYECTOS') }}</a></li>
                            <li class="nav-item"><a class="nav-link nav-item-selected" href="{{ url_for('contact') }}">{{ _('CONTACTO') }}</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Contenido de la página -->
            <section class="py-3">
                <div class="container px-5">
                    <!-- Formulario de contacto -->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-3">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <h1 class="fw-bolder">{{ _('Contáctame') }}</h1>
                            <p class="lead fw-normal text-muted mb-0">{{ _('¡Hablemos sobre tus proyectos y cómo puedo ayudarte!') }}</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        <div class="alert-container">
                                            {% for category, message in messages %}
                                                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                                    {{ message }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('Cerrar') }}"></button>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                <form id="contactForm" method="POST" action="{{ url_for('contact') }}">
                                    <input type="hidden" id="cf_turnstile_response" name="cf-turnstile-response">
                                    <!-- Nombre -->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="name" name="name" type="text" placeholder="{{ _('Introduce tu nombre...') }}" data-sb-validations="required" required />
                                        <label for="name">{{ _('Nombre completo') }}</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">{{ _('El nombre es obligatorio.') }}</div>
                                    </div>
                                    <!-- Correo electrónico -->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="email" name="email" type="email" placeholder="{{ _('nombre@ejemplo.com') }}" data-sb-validations="required,email" required />
                                        <label for="email">{{ _('Correo electrónico') }}</label>
                                        <div class="invalid-feedback" data-sb-feedback="email:required">{{ _('El correo electrónico es obligatorio.') }}</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">{{ _('El correo no es válido.') }}</div>
                                    </div>
                                    <!-- Mensaje -->
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" id="message" name="message" placeholder="{{ _('Escribe tu mensaje aquí...') }}" style="height: 10rem" data-sb-validations="required" required></textarea>
                                        <label for="message">{{ _('Dime qué quieres crear') }}</label>
                                        <div class="invalid-feedback" data-sb-feedback="message:required">{{ _('El mensaje es obligatorio.') }}</div>
                                    </div>
                                    <!-- Turnstile -->
                                    <div class="cf-turnstile-wrapper d-flex mb-1">
                                        <div class="cf-turnstile" data-sitekey="0x4AAAAAAA1wJQCnrQUDi5ow" data-callback="turnstileCallback"></div>
                                    </div>
                                    <!-- Botón de envío -->
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit" disabled>{{ _('Enviar') }}</button>
                                    </div>
                                </form>                                                             
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer -->
        <footer class="bg-white py-4 mt-auto">
            <div class="px-5 footer-container">
                <div class="footer-content d-flex justify-content-between align-items-center flex-column flex-sm-row">
                    <div class="text text-start">
                        <p class="mb-0 mb-1">
                            {{ _('Sitio web diseñado y desarrollado por mi con') }} 
                            <a href="https://flask.palletsprojects.com/" target="_blank" style="color: inherit; text-decoration: none;">
                                Flask
                            </a>
                        </p>
                        <p class="mb-0 text-muted">{{ _('David Zerpa') }} {{ current_year }}. &copy; </p>
                    </div>
                    <div class="mt-sm-0">
                        <a class="icons text-primary text-decoration-none me-3 icon-hover" href="https://www.linkedin.com/in/davidzerpago" target="_blank" rel="noopener noreferrer" style="font-size: 2rem;">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a class="icons text-primary text-decoration-none me-3 icon-hover" href="https://github.com/DavidZerpa96" target="_blank" rel="noopener noreferrer" style="font-size: 2rem;">
                            <i class="bi bi-github"></i>
                        </a>
                        <a class="icons text-primary text-decoration-none icon-hover" href="{{ url_for('contact') }}" rel="noopener noreferrer" style="font-size: 2rem;">
                            <i class="bi bi-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
